{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2,
        "no-console": 0
    },
    "globals": {
        requestAnimationFrame: true,
        document: true,
        Float32Array: true,
        console: true,
        window: true,
        require: true,
        module: true,
        process: true,
        __dirname: true
    }
}
